<template name="task">
  {{#if empty}}
    <li class="empty-task"></li>
  {{else}}
    <li class="task {{#if checked}}checked{{/if}} {{#if private}}private{{/if}}"
        draggable="true">
      <button class="delete">&times;</button>

      <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

      {{#if isOwner}}
        <button class="toggle-private">
          {{#if private}}
            Private
          {{else}}
            Public
          {{/if}}
        </button>
      {{/if}}

      <span>
        <img class="avatar" src="{{picture}}"/>
         - {{title}} - {{position}} - {{listsNames}} -
      </span>

      {{> listsLinks target=this}}

      <a href="/task/{{_id}}">Edit</a>
    </li>
  {{/if}}
</template>
