<template name="task">
  <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}"
      draggable="true">
    <button class="delete">&times;</button>

    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

    {{#if isOwner}}
      <button class="toggle-private">
        {{#if private}}
          Private
        {{else}}
          Public
        {{/if}}
      </button>
    {{/if}}

    <span class="text">
      <img class="avatar" src="{{picture}}"/>
       - {{text}} - {{position}} - {{listsNames}} - {{projectsNames}} -
    </span>
    <a href="/task/{{_id}}">Edit</a>
  </li>
</template>
