<template name="header">
  <header>
    <label class="hide-completed">
      <input type="checkbox" checked="{{hideCompleted}}" />
      Hide Completed Tasks
    </label>

    {{> loginButtons}}

    {{#if currentUser}}
      <button class="show-add-task-form">Add task</button>
      {{> addTaskForm}}
      <button class="show-add-list-form">Add list</button>
      {{> addListForm}}
      <button class="show-add-project-form">Add project</button>
      {{> addProjectForm}}
    {{/if}}
  </header>
</template>
